.venv 
notas.md
/archive
/data/mapas/recintos_autonomicas_inspire_peninbal_etrs89
/data/mapas/recintos_municipales_inspire_peninbal_etrs89
/data/mapas/recintos_provinciales_inspire_peninbal_etrs89
.DS_Store
data/recintos_provinciales_inspire_peninbal_etrs89.*
